@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Raleway:wght@700&display=swap');

body{
    padding: 0;
    box-sizing: border-box;
}
#banner{
    background-color: black;
    border-radius: 30px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 30px 0px 30px;
    margin-bottom: 150px;
    margin-top: 30px;
}
.banner-text{
    color: #fff;
    padding-left: 30px;
}
.banner-text h1{
    font-size: 4em;
    font-family: 'Dosis', sans-serif;
}
.banner-text button{
    width: 180px;
    height: 70px;
    color: #fff;
    background-color: crimson;
    font-size: 1.5em;
    border-radius: 5px;
    margin-top: 50px;
   
}
.banner-img img{
    width: 100%;
   
}
@keyframes mytext{
    50%{
        font-size: 1.8em;
        width: fit-content;

    }

}
.banner-text button:hover{
    animation: mytext 5s ease-in 1s;
}

.main-contain{
    display: flex;
    width: 90%;
    align-items: flex-start;
}
.left-bar{
    width: 350px;
    background-color: rgb(27, 26, 26);
    border-radius: 10px;
    padding: 30px 20px;
    margin:0px 30px 0px 0px;
}
.left-bar a{
    display: block;
    background-color: cornsilk;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 5vh;
    color: #000;
}

 #blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.blog-item{
    border: 1px solid rgb(77, 75, 75);
    border-radius: 13px;
}
.blog-item img{
    width: 312px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
}
.blog-item a{
    padding: 6px 10px;
    margin-left: 18px;
    text-decoration: none;
    border: 1px solid rgb(77, 75, 75);
    font: 1em sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
}

.blog-item h4{
    margin-left: 18px;
}

.blog-item span{
    padding: 0px 20px;
}
.main-contain button{
    display: none;
}
footer{
    background-color: black;
    height: 500px;
    margin-top: 180px;
}
.footer-text h1{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding: 100px 0px 40px 0px;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
}
.footer-text hr{
    width: 90%;
    border: 1px solid rgb(241, 241, 241);
    opacity: 0.5;
    margin-bottom: 60px;
}
.footer-text a{
    text-decoration: none;
    padding: 25px;
    color: #fff;
    text-transform: capitalize;
    margin-left: 70px;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons i{
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 1.3em;
    margin-top: 100px;
}
a.active{
    background-color: crimson;
    color: #fff;
}
/* media queries for mobile */

@media only screen and (min-width: 320px) and (max-width: 425px){

    #banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding: 0px;
        justify-items: center;
    }
    .banner-text{
        color: #fff;
        padding: 0px 60px;
    }

    .banner-text h1{
        font-size: 3em;
        font-family: 'Dosis', sans-serif;
    }

    .banner-text button{
        width: 150px;
        height: 60px;
        color: #fff;
        background-color: crimson;
        font-size: 1.2em;
        border-radius: 5px;
        margin-top: 50px;
    }
    .banner-img img{
        width: 90%;
        margin-top: 50px;
    }
    
    .main-contain{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 0;
    }
    #blogs{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
    }
    .blog-item{
        width: 312px;
    }
    .left-bar{
        background-color: #fff;
        padding: 30px 0px;
    }
    .left-bar a{
        border: 1px solid #d1d1d1;
    }
    footer{
        height: auto;
    }
    .footer-text a{
        padding: 20px 0px;
        margin: 4px;
        display: block;
        text-align: center;
    }
    .icons{
        font: 0.8em sans-serif;
    }

}

@media only screen and (max-width: 600px) {
   
    #banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        padding: 0px;
        justify-items: center;
    }
    .banner-text{
        color: #fff;
        padding: 0px 60px;
    }
    .banner-text h1{
        font-size: 3em;
        font-family: 'Dosis', sans-serif;
    }
    .banner-text button{
        width: 160px;
        height: 60px;
        color: #fff;
        background-color: crimson;
        font-size: 1.2em;
        border-radius: 5px;
        margin-top: 50px;
        margin-left: 100px;
       
    }
    .banner-img img{
        width: 100%;
       margin-top: 50px;
    }
    
    .main-contain{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 0;
    }
    #blogs{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
    }
    .blog-item{
        width: 312px;
    }
    .left-bar{
        background-color: #fff;
        padding: 30px 0px;
    }
    .left-bar a{
        border: 1px solid #d1d1d1;
    }
    footer{
        height: auto;
    }
    .footer-text a{
        padding: 20px 0px;
        margin: 4px;
        display: block;
        text-align: center;
    }
    .icons{
        font: 0.8em sans-serif;
    }

 }

/* tablet */

@media only screen and (min-width: 601px) and (max-width:991px){
        #banner{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
        }
        .banner-text{
            padding: 30px 0px 60px 20px;
        }
        .banner-text h1{
            font-size: 3em;
        }
        .banner-img img{
            width: 55vw;
            height: 100%;
        }
        .main-contain{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
        }

        .left-bar{
            display: flex;
            background-color: #fff;
            width: 100%;
            margin: 0px;
            padding: 30px 14px;
        }
        .left-bar a{
            width: 100%;
            border: 1px solid #d1d1d1;
            margin-left: 15px;
        }
        #blogs{
            display: grid;
            grid-template-columns:repeat(2, 1fr) ;
            grid-column-gap: auto;
            
        }
        .blog-item{
          width: fit-content;
          margin: 0px;
        }
        .blog-item img{ 
            width: 100%;  
        
        }
        .hidden{
            display: none;
        }
        .main-contain button{
            background-color: crimson;
            padding: 15px;
            width: 160px;
            font: 1.3em sans-serif;
            color: #fff;
            display: block;
            margin-top: 50px;
            border: none;
            border-radius: 10px;
        }
        footer{
            height: auto;
        }
        .footer-menu{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .footer-text a{
            text-decoration: none;
            padding: 10px;
            color: #fff;
            text-transform: capitalize;
            margin-left: 70px;
        }
        .icons{
            font: 0.8em sans-serif;
        }
}